name: Release
on:
  push:
    tags:
      - '*.*.*'

jobs:
  release-to-pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2      
      - uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - name: Get Tag
        run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      - name: Get Tag
        run: echo "${{ env.TAG }}"
      - name: Install Poetry
        run: curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
      - name: Add Poetry to path
        run: echo "${HOME}/.poetry/bin" >> $GITHUB_PATH
      - name: Install venv
        run: poetry install
      - name: print Tag
        run: echo $TAG
      # - name: Set PyPI token
      #   run: poetry config pypi-token.pypi ${{ secrets.PYPI_API_TOKEN }}
      # - name: Publish to PyPI
      #   run: poetry publish --build -r testpypi
      
